
body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
p {
    margin-block-start: 1em;
    margin-block-end: 0em;
}
h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top-container {
    background-color: #C2FFD9;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    padding: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.mountain {
    width: 50%;
}
.rafi {
    height: 150px;
    width: 150px;
}
a {
    color:  #11999E;
}

.skill-row {
    width: 50%;
    text-align: left;
    margin: 100px auto 100px auto;
}

.computer {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.something {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-messege {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #46d8f2;
    background-image: -webkit-linear-gradient(top, #46d8f2, #2980b9);
    background-image: -moz-linear-gradient(top, #46d8f2, #2980b9);
    background-image: -ms-linear-gradient(top, #46d8f2, #2980b9);
    background-image: -o-linear-gradient(top, #46d8f2, #2980b9);
    background-image: linear-gradient(to bottom, #46d8f2, #2980b9);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #6b76f7;
    background-image: -webkit-linear-gradient(top, #6b76f7, #3498db);
    background-image: -moz-linear-gradient(top, #6b76f7, #3498db);
    background-image: -ms-linear-gradient(top, #6b76f7, #3498db);
    background-image: -o-linear-gradient(top, #6b76f7, #3498db);
    background-image: linear-gradient(to bottom, #6b76f7, #3498db);
    text-decoration: none;
  }

  .copyright {
      color: #EAF6F6;
      font-size: 0.75rem;
      padding: 20px 0;
  }